@import url('https://fonts.googleapis.com/css?family=Merienda');

footer {
  background-color: #222222;
  padding: 25px;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.bg-grey{
  background-color: #222222;
}
.carousel-inner img {
  width: 100%;
  margin: auto;
  min-height:200px;
}
.navbar-toggler{
  margin-left: 80%;
  margin-top: -12%;
}
#logo{
width: 12%;
height: 12%;
}
#fb{
  width: 30%;
  height: 30%;
}
#a{
  width: 100%;
}
#icon{
  width: 30%;
  height: 30%;
}
#jpg3{
  width: 100%;
  height: 100%;
}
#onas-text{
  font-size: 23px;
}
#page-top{
  font-family: 'Merienda';
}
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 99;

}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  transition: all 0.3s ease;
  padding: 16px;
  font-size: 40px;
  background-color: #222222;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #3B5998;
}

.facebook {
  background: #3B5998;
  color: white;
}
@media (max-width: 600px) {
.carousel-caption {
  display: none;
}
}
